*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: black;
  width: 100%;
  height: 500px;

}




.navbar ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Balsamiq Sans', cursive;
  margin-right: 34px;
  transition: 0.4s;
}

.navbar ul li a:hover{
  color: rgb(0, 152, 253);
  text-decoration: underline;
}



.logo img{
  width: 14%;
  margin: -47px 40px 55px -14px;
  display: inline-block;
}


.hero img{
  width: 100%;
  position: relative;
}


.txt{
  margin-left: 70px;
  margin-top: 25px;
  width: 435px; 
}

.txt h1{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: rgb(4, 133, 255);
  display: inline-block;
}

.txt h1:hover{
  font-size: 37px;
}

.txt p{
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 19px;
  transition: 0.4s;
}

.txt p:hover{
  background: rgba(13, 78, 218, 0.336);
  text-decoration: underline;
  font-size: 21px;
}


.btn .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 11px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;

}

.btn .button1 {
  background-color: rgb(15, 3, 46); 
  color: rgb(9, 153, 219); 
  border: 2px solid #0099ff;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  margin-left: 120px;
  margin-top: 20px;
  transition: 0.4s;
}  

.btn .button2{
  background-color: rgb(15, 3, 46); 
  color: rgb(9, 153, 219); 
  border: 2px solid #0099ff;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  transition: 0.4s;
}


.btn .button1:hover{
  background: rgb(21, 4, 65);
  border: 2px solid #00b7ff;
  padding: 13px 18px;
  box-shadow: 0px 0px 23px 0px #00b1f7;
}


.btn .button2:hover{
  background: rgb(21, 4, 65);
  border: 2px solid #00b7ff;
  padding: 13px 18px;
  box-shadow: 0px 0px 23px 0px #00b1f7;
}



.row{
  display: flex;
  justify-content: center;
}



.column {
  float: left;
  width: 22.5%;
  padding: 5px;
  margin-top: 0;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.mo{
  color: #0099ff;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  display: flex;
  justify-content: center;
  margin-top: 276px;
  border-bottom: 2px solid #0099ff;
}



/*Cards in Site*/

.container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  align-content: space-around;

}


.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border: 2px solid white;
  color: #63aee0;
  border-radius: 23px;
  transition: 0.5s;
}

.card img{
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: 1px solid #0099ff;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

.card button:hover {
  opacity: 0.7;
}


.card:hover{
  box-shadow:  0px 0px 23px 0px #00b1f7;
}


/*Slide Show Images*/


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #71abd1;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}





















.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}